<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원정보 확인 및 수정</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="동계방학 프로젝트">
    <meta name="author" content="송하빈,권용헌,이경주">

    <link rel="icon" type="image/x-icon" href="/assets/hanshin.ico"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}"  />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/scripts.js}"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">HS 쇼핑몰</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">홈</a></li>
                <li class="nav-item"><a class="nav-link" href="#">주문내역</a></li>
                <li class="nav-item"><a class="nav-link" href="/members/was_paid">장바구니</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2 class="text-primary">회원정보확인/수정</h2>
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>아이디</td>
                        <td th:text="${session.userinfo.id}">사용자아이디</td>
                    </tr>
                    <tr>
                        <td>핸드폰번호</td>
                        <td th:text="${session.userinfo.phoneNum}">사용자핸드폰번호</td>
                    </tr>
                    <tr>
                        <td>이름</td>
                        <td>
                            <p th:text="${session.userinfo.name}"></p>
                            <form action="/members/editName" method="post">
                                <div class="input-group">
                                    <input id="editname" type="text" name="name" size="30" required placeholder="변경할 이름을 입력하세요."/>
                                    <button type="submit" class="btn btn-dark btn-xs" style="background-color: purple; border: none">이름 변경</button>
                                </div>
                            </form>
                        </td>
                        <div th:if="${validateDuplicateName}">
                            <script th:inline="javascript">
                                alert('현재 사용중인 이름입니다.');
                            </script>
                        </div>
                    </tr>
                    <tr>
                        <td>이메일</td>
                        <td>
                            <p th:text="${session.userinfo.email}"></p>
                            <form action="/members/editEmail" method="post">
                                <div class="input-group">
                                    <input id="editemail" type="text" name="email" size="30" required placeholder="변경할 이메일을 입력하세요."/>
                                    <button type="submit" class="btn btn-success btn-xs">이메일 변경</button>
                                </div>
                            </form>
                        </td>
                        <div th:if="${validateDuplicateEmail}">
                            <script th:inline="javascript">
                                alert('현재 사용중인 이메일입니다.');
                            </script>
                        </div>
                    </tr>
                    <tr>
                        <td>배송지 주소</td>
                        <td>
                            <p th:text="${session.userinfo.address}"></p>
                            <form action="/members/editAddress" method="post">
                                <div class="input-group">
                                    <input id="editaddress" type="text" name="address" size="30" required placeholder="변경할 배송지 주소를 입력하세요."/>
                                    <button type="submit" class="btn btn-warning btn-xs" style="color: white">배송지 변경</button>
                                </div>
                            </form>
                        </td>
                        <div th:if="${validateDuplicateAddress}">
                            <script th:inline="javascript">
                                alert('현재 배송지주소와 일치합니다.');
                            </script>
                        </div>
                    </tr>
                    <tr>
                        <td>비밀번호변경</td>
                        <td>
                            <form action="/members/editPassword" method="post">
                                <table class="table">
                                    <tr>
                                        <td><label for="now">현재 비밀번호</label></td>
                                        <td><input id="now" type="password" name="password" size="30" required /></td>
                                    </tr>
                                    <tr>
                                        <td><label for="new">새 비밀번호</label></td>
                                        <td><input id="new" type="password" name="new_pwd" size="30" required /></td>
                                    </tr>
                                    <tr>
                                        <td><label for="again">비밀번호 다시 확인</label></td>
                                        <td><input id="again" type="password" name="new_pwd_again" size="30" required /></td>
                                    </tr>
                                </table>
                                <div style="display: flex; justify-content: center; align-items: center; height: 40px;">
                                    <button type="submit" class="btn btn-primary btn-xs">비밀번호 변경</button>
                                </div>
                            </form>
                        </td>
                        <div th:if="${validateDuplicatePassword}">
                            <script th:inline="javascript">
                                alert('현재 비밀번호가 일치하지 않습니다.');
                            </script>
                        </div>
                        <div th:if="${oldPWD}">
                            <script th:inline="javascript">
                                alert('이전에 사용한 적이 있는 비밀번호입니다. 다른 비밀번호를 입력해주세요.');
                            </script>
                        </div>
                        <div th:if="${validateDuplicateNewPassword}">
                            <script th:inline="javascript">
                                alert('새 비밀번호가 일치하지 않습니다.');
                            </script>
                        </div>
                    </tr>

                </table>
                <!-- 회원탈퇴 버튼 -->
                <div class="container">
                    <div class="row justify-content-end mt-3">
                        <div class="col-lg-6">
                            <form action="/members/withdrawal" method="post">
                                <div class="text-end">
                                    <button type="submit" class="btn btn-danger">회원탈퇴</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- 나가기 버튼 -->
                <div class="container">
                    <div class="row justify-content-center mt-3">
                        <div class="col-lg-6">
                            <div class="text-center">
                                <a href="/" class="btn btn-secondary">나가기</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; HS 2024</p>
    </div>
    <!-- /.container -->
</footer>
</body>
</html>