<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2>회원정보확인</h2>
            <p class="lead" th:text="${session.userinfo.id}+'님의 정보를 안전하게 보호하기 위해 비밀번호를 다시 한번 확인 합니다.'">${session.LoginId}님의 정보를 안전하게 보호하기 위해 비밀번호를 다시 한번 확인 합니다.</p>
            <div class="container">
                <form action="/members/Mypage" method="post">
                    <div class="form-group">
                        <label for="password">비밀번호</label>
                        <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요">
                        <button type="submit">확인</button>
                    </div>
                    <!-- 실패 시 경고 메시지 -->
                    <div th:if="${passwordMismatch}">
                        <script th:inline="javascript">
                            alert('비밀번호가 일치하지 않습니다!');
                            window.location.href = '/members/Mypage';  // 실패 시 현재 페이지로 리다이렉트
                        </script>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>