<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="동계방학 프로젝트">
    <meta name="author" content="송하빈,권용헌,이경주">

    <title>HS 쇼핑몰</title>
    <link rel="icon" type="image/x-icon" href="/assets/hanshin.ico"/>
    <link rel="stylesheet" th:href="@{/css/shop-homepage.css}">
    <link rel="stylesheet" th:href="@{/css/styles2.css}">
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap_min.min.css}">
    <script th:src="@{/js/scripts2.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle_min.min.js}"></script>
    <script th:src="@{/vendor/jquery/jquery_min.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


</head>
<style>
    h4 {
        text-decoration: none; /* 하이퍼링크의 밑줄 제거 */
    }

    h4:hover {
        text-decoration: none; /* 하이퍼링크의 밑줄 제거 */
    }

    a {
        text-decoration: none; /* 하이퍼링크의 밑줄 제거 */
    }

    a:hover {
        text-decoration: none; /* 마우스를 올렸을 때 밑줄 효과 제거 */
    }

    .slideshow-container {
        max-width: 900px;
        position: relative;
        margin: auto;
    }

    .mySlides {
        display: none;
        width: 100%;
    }


    .caption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 10px;
    }
</style>


<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">HS 쇼핑몰</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">홈
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" th:if="${session.userinfo == null}">
                    <a class="nav-link" href="/members/login">로그인 / 회원가입</a>
                </li>
                <li class="nav-item" th:if="${session.userinfo != null}">
                    <a class="nav-link" href="/members/logout">로그아웃</a>
                </li>
                <li class="nav-item" th:if="${session.userinfo == null}">
                    <a class="nav-link" href="/" onclick="alert('로그인 후 이용해주세요')">마이 페이지</a>
                </li>
                <li class="nav-item dropdown" th:if="${session.userinfo != null}">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">마이페이지</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/members/Mypage">회원정보 확인</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/item/MyItem">내 상품관리</a></li>
                    </ul>
                </li>
                <li class="nav-item" th:if="${session.userinfo == null}">
                    <a class="nav-link" href="/" onclick="alert('로그인 후 이용해주세요')">주문 내역</a>
                </li>
                <li class="nav-item" th:if="${session.userinfo != null}">
                    <a class="nav-link" href="#">주문 내역</a>
                </li>
                <li class="nav-item" th:if="${session.userinfo == null}">
                    <a class="nav-link" href="/" onclick="alert('로그인 후 이용해주세요')">장바구니</a>
                </li>
                <li class="nav-item" th:if="${session.userinfo != null}">
                    <a class="nav-link" href="/shoppingCart/was_paid">장바구니 <span
                            class="badge bg-dark text-white ms-1 rounded-pill">0</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 style="text-align: center;" class="my-4">HS 쇼핑몰</h1>
            <div class="list-group"></div>
            <div class="list-group">
                <a href="#item1" class="list-group-item">인기상품</a>
                <a href="#item2" class="list-group-item">생필품</a>
                <a href="#item3" class="list-group-item">전자 제품</a>
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <div class="slideshow-container">
                    <!-- 이미지 슬라이드 -->
                    <div class="mySlides">
                        <img th:src="@{${randomImage1}}" th:alt="${errorMessage}" style="width:100%; height:450px;">
                        <div class="caption">★파★격★세★일★</div>
                    </div>
                    <div class="mySlides">
                        <img th:src="@{${randomImage2}}" th:alt="${errorMessage}" style="width:100%; height:450px;">
                        <div class="caption">✈절✈찬✈세✈일✈</div>
                    </div>
                    <div class="mySlides">
                        <img th:src="@{${randomImage3}}" th:alt="${errorMessage}" style="width:100%; height:450px;">
                        <div class="caption">@@SSG@@</div>
                    </div>
                </div>
            </div>


            <div id="item1" class="row">
                <h1 style="text-align: center;" class="my-4">인기 상품</h1>

                <div class="col-lg-4 col-md-6 mb-4" th:each="entry : ${itemUrlMap}" th:if="${entry.key.stock < 10}">
                    <div class="card h-100">
                        <a th:href="@{/item/item_info/{itemId}(itemId=${entry.key.itemId})}"><img class="card-img-top" th:src='@{${entry.value}}' alt="사진을 불러오는데 오류가 발생했습니다." style="width: 100%; height: 150px;"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a th:href="@{/item/item_info/{itemId}(itemId=${entry.key.itemId})}" th:text="${entry.key.itemNm}">상품 이름</a>
                            </h4>
                            <h5 th:text="${entry.key.price} + '원'">가격</h5>
                            <p class="card-text" th:text="${entry.key.itemDetail}">상품 설명</p>
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                장바구니에 추가
                            </button>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
                        </div>
                    </div>
                </div>

            </div>

            <div id="item2" class="row">
                <h1 style="text-align: center;" class="my-4">생필품</h1>

                <div class="col-lg-4 col-md-6 mb-4" th:each="entry : ${itemUrlMap}" th:if="${entry.key.kategorie.equals('생필품')}">
                    <div class="card h-100">
                        <a th:href="@{/item/item_info/{itemId}(itemId=${entry.key.itemId})}"><img class="card-img-top" th:src='@{${entry.value}}' alt="사진을 불러오는데 오류가 발생했습니다." style="width: 100%; height: 150px;"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a th:href="@{/item/item_info/{itemId}(itemId=${entry.key.itemId})}" th:text="${entry.key.itemNm}">상품 이름</a>
                            </h4>
                            <h5 th:text="${entry.key.price} + '원'">가격</h5>
                            <p class="card-text" th:text="${entry.key.itemDetail}">상품 설명</p>
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                장바구니에 추가
                            </button>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
                        </div>
                    </div>
                </div>

            </div>

            <div id="item3" class="row">
                <h1 style="text-align: center;" class="my-4">전자제품</h1>

                <div class="col-lg-4 col-md-6 mb-4" th:each="entry : ${itemUrlMap}" th:if="${entry.key.kategorie.equals('전자제품')}">
                    <div class="card h-100">
                        <a th:href="@{/item/item_info/{itemId}(itemId=${entry.key.itemId})}"><img class="card-img-top" th:src='@{${entry.value}}' alt="사진을 불러오는데 오류가 발생했습니다." style="width: 100%; height: 150px;"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a th:href="@{/item/item_info/{itemId}(itemId=${entry.key.itemId})}" th:text="${entry.key.itemNm}">상품 이름</a>
                            </h4>
                            <h5 th:text="${entry.key.price} + '원'">가격</h5>
                            <p class="card-text" th:text="${entry.key.itemDetail}">상품 설명</p>
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                장바구니에 추가
                            </button>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; HS 2024</p>
    </div>
    <!-- /.container -->
</footer>


<script>
    // 자동 슬라이드 함수
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var slides = document.getElementsByClassName("mySlides");
        for (var i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1;
        }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 4000); // 4초마다 슬라이드 전환
    }
</script>


</body>

</html>
